{% extends "layout.html" %}

{% block pageTitle %}
  Submit a new posting
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/submit-posting">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">About the activity manager</h1>

      <p>Each fast streamer is supervised day-to-day by an activity manager. This might be you or someone else.</p>

      <form class="form" action="/submit-posting/posting-1" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="am-name">
            Name
          </label>
          <input value="{{ data['am-name'] }}" class="govuk-input govuk-input--width-20" id="am-name" name="am-name" type="text" aria-describedby="am-name-hint">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="am-grade">
            Civil service grade
          </label>
          <select class="govuk-select govuk-input--width-5" id="am-grade" name="am-grade"  aria-describedby="am-grade-hint">
            <option {{ selected("am-grade", "") }} value=""></option>
            <option {{ selected("am-grade", "7") }} value="7">7</option>
            <option {{ selected("am-grade", "6") }} value="6">6</option>
            <option {{ selected("am-grade", "HEO") }} value="HEO">HEO</option>
            <option {{ selected("am-grade", "SEO") }} value="SEO">SEO</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="am-email">
            Email
          </label>
          <span id="am-email-hint" class="govuk-hint">
            We’ll use this to correspond about the posting
          </span>
          <input value="{{ data['am-email'] }}" class="govuk-input govuk-input--width-20" id="am-email" name="am-email" type="text" aria-describedby="am-email-hint">
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
