{% extends "layout.html" %}

{% block pageTitle %}
  Submit a new posting
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h2 class="govuk-panel__title">Submission complete</h2>
        <div class="govuk-panel__body">
          Your posting has been submitted for review.
        </div>
      </div>

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Cabinet Office staff will review your posting. They will either approve it, or contact you with questions.</p>
      <p>Once your posting is approved, we will try to match a fast streamer to it.</p>
      <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
