{% extends "layout.html" %}

{% block pageTitle %}
  Submit a new posting
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/submit-posting/posting-2">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m">Step 3 of 6</span>
        Where is the posting?</h1>

      <form class="form" action="/submit-posting/posting-4" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="address">
            Building and street
          </label>
          <input value="{{ data['address'] }}" class="govuk-textarea" id="address" name="address" rows="5" aria-describedby="address-hint"/>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="city">
            Town or city
          </label>
          <input value="{{ data['city'] }}" class="govuk-input govuk-input--width-15" id="city" name="city" type="text" aria-describedby="city-hint">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="county">
            County
          </label>
          <select class="govuk-select govuk-input--width-10" id="county" name="county" type="text" aria-describedby="county-hint">
            <option value="" selected=""></option>
            <option {{ selected("county", "Greater London") }} value="Greater London">Greater London</option>
            <option {{ selected("county", "South East") }} value="South East">South East</option>
            <option {{ selected("county", "South West") }} value="South West">South West</option>
            <option {{ selected("county", "North East") }} value="North East">North East</option>
            <option {{ selected("county", "Yorkshire and the Humber") }} value="Yorkshire and the Humber">Yorkshire and the Humber</option>
            <option {{ selected("county", "East of England") }} value="East of England">East of England</option>
            <option {{ selected("county", "East Midlands") }} value="East Midlands">East Midlands</option>
            <option {{ selected("county", "West Midlands") }} value="West Midlands">West Midlands</option>
            <option {{ selected("county", "Scotland") }} value="Scotland">Scotland</option>
            <option {{ selected("county", "Wales") }} value="Wales">Wales</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="postcode">
            Postcode
          </label>
          <input value="{{ data['postcode'] }}" class="govuk-input govuk-input--width-10" id="postcode" name="postcode" aria-describedby="postcode-hint"/>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
