{% extends "layout.html" %}

{% block pageTitle %}
  Submit a new posting
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/submit-posting/posting-3">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What skills does the posting develop?</h1>

      <p>Fast stream postings should encourage the learning and practice of new skills.</p>

      <form class="form" action="/submit-posting/posting-5" method="post">


        <div class="govuk-form-group">
          <label class="govuk-label" for="main-skill">
            Main skill
          </label>
          <span id="main-skill-hint" class="govuk-hint">
            Which skill will the fast streamer need to rely on most?
          </span>
          <select class="govuk-select govuk-input--width-20" id="main-skill" name="main-skill" type="text" aria-describedby="main-skill-hint">
            <option value="" selected=""></option>
            <option {{ selected("main-skill", "Juggling") }} value="Juggling">Juggling</option>
            <option {{ selected("main-skill", "User research") }} value="User research">User research</option>
            <option {{ selected("main-skill", "Magic") }} value="Magic">Magic</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="second-skill">
            Second skill
          </label>
          <select class="govuk-select govuk-input--width-20" id="second-skill" name="second-skill" type="text" aria-describedby="second-skill-hint">
            <option value="" selected=""></option>
            <option {{ selected("second-skill", "Juggling") }} value="Juggling">Juggling</option>
            <option {{ selected("second-skill", "User research") }} value="User research">User research</option>
            <option {{ selected("second-skill", "Magic") }} value="Magic">Magic</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="generalist-skill">
            Generalist skill
          </label>
          <span id="main-skill-hint" class="govuk-hint">
            Which non-digital skill will the role holder need to rely on most?
          </span>
          <select class="govuk-select govuk-input--width-20" id="generalist-skill" name="generalist-skill" type="text" aria-describedby="generalist-skill-hint">
            <option value="" selected=""></option>
            <option {{ selected("generalist-skill", "Juggling") }} value="Juggling">Juggling</option>
            <option {{ selected("generalist-skill", "User research") }} value="User research">User research</option>
            <option {{ selected("generalist-skill", "Magic") }} value="Magic">Magic</option>
          </select>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
